<div class="container h-100 d-flex flex-column justify-items-center w-50">
    <div class="mb-5 d-flex flex-column">
        <h3 class="mb-4">О нас</h3>
        <img src="assets/img/r5.jpg" class="imga mb-5">
        <div class="mb-4">
            Ищете надежный и удобный способ записаться на грумминг для вашего любимого питомца? Поздравляю, вы нашли
            его! Представляем вам уникальный онлайн сервис записи на грумминг, который облегчит вам жизнь и сделает
            процесс заботы о вашем питомце простым и удобным.
            <br><br>
            Наш сервис предлагает широкий выбор профессиональных грумеров, которые специализируются на различных породах
            животных. Независимо от того, у вас собака, кошка, кролик или хорек, у нас всегда найдется опытный
            специалист, готовый предоставить вашему питомцу идеальный уход.
            <br><br>
            Не откладывайте заботу о вашем питомце на потом. Запишитесь на грумминг сегодня и обеспечьте своему питомцу
            заслуженный комфорт и красоту. Попробуйте наш удобный онлайн сервис записи на грумминг и вы не пожалеете!
        </div>

        <button type="button" class="menubtn btn btn-secondary mb-1" (click)="main()">Вернуться на главную</button>
    </div>
</div>